/node_modules
/.env
/database
/ssl
/database/*
/package-lock.json
/logs/*
logs/*
sessions
erase/.env
.env
pouchdb-fauxton-logic
ssl/wade_cert.pem
ssl/wade_key.pem
*.pem
.ssl/home.tail5cd89.ts.net.crt
.ssl/home.tail5cd89.ts.net.key
modules/node_modules
pouch__all_dbs__
config.json
